@model InventarioComputadoras.Models.Computadora
@{
    ViewData["Title"] = "Crear Nuevo Computador";
}
<h1>Computadoras </h1>
<div class="row">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <h3 class="text-white"><strong> Crear Computador </strong></h3>
            </div>
            <div class="card-body">
                <form asp-action="Crear" method="POST">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" id="informacionBasicaTab" data-toggle="tab" href="#informacionBasica">Información Básica</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="licenciasTab" data-toggle="tab" href="#licencias">Licencias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="estadoTab" data-toggle="tab" href="#estado">Estado</a>

                        <li class="nav-item">
                            <a class="nav-link" id="hardwareTab" data-toggle="tab" href="#hardware">Hardware</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" id="almacenamientoTab" data-toggle="tab" href="#almacenamiento">Almacenamiento</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="informacionBasica">
                            <!---------------------------------------Información Básica------------------------------------------- -->
                            <div class="form-group">
                                <label asp-for="Oficina" class="control-label"></label>
                                <select asp-for="Oficina" asp-items="ViewBag.Zonas" class="form-control"></select>
                                <span asp-validation-for="Oficina" class="text-danger"></span>
                            </div>


                            <div class="form-group">
                                <label asp-for="NombreAnterior" class="control-label"></label>
                                <input asp-for="NombreAnterior" class="form-control" placeholder="Ingresa el Nombre Anterior" />
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="sinNombreAnteriorCheck">
                                    <label class="form-check-label" for="sinNombreAnteriorCheck">
                                        Sin nombre anterior
                                    </label>
                                </div>
                                <input type="hidden" asp-for="SinNombreAnterior" id="sinNombreAnteriorHidden">
                                <span asp-validation-for="NombreAnterior" class="text-danger"></span>
                            </div>


                            <div class="form-group">
                                <label asp-for="Usuario" class="control-label"></label>
                                <input asp-for="Usuario" class="form-control" placeholder="Ingresa el Usuario" />
                                <span asp-validation-for="Usuario" class="text-danger"></span>
                            </div>


                            <div class="form-group">
                                <label asp-for="Departamento" class="control-label"></label>
                                <select asp-for="Departamento" asp-items="ViewBag.Departamentos" class="form-control"></select>
                                <span asp-validation-for="Departamento" class="text-danger"></span>
                            </div>


                            <div class="form-group">
                                <label asp-for="Dominio" class="control-label"></label>
                                <select asp-for="Dominio" asp-items="ViewBag.dominio" class="form-control"></select>
                                <span asp-validation-for="Dominio" class="text-danger"></span>
                            </div>


                            <div class="form-group">
                                <label asp-for="CodigoConstitucional" class="control-label"></label>
                                <input asp-for="CodigoConstitucional" class="form-control" placeholder="Ingresa el Código Constitucional" />
                                <span asp-validation-for="CodigoConstitucional" class="text-danger"></span>
                            </div>


                            <div class="form-group">
                                <label asp-for="DireccionIp" class="control-label"></label>
                                <input asp-for="DireccionIp" class="form-control" placeholder="Ingresa la Dirección IP" />
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="sinDireccionIPCheck">
                                    <label class="form-check-label" for="sinDireccionIPCheck">
                                        Sin Direccion IP
                                    </label>
                                </div>
                                <input type="hidden" asp-for="SinDireccionIP" id="sinDireccionIPHidden">
                                <span asp-validation-for="DireccionIp" class="text-danger"></span>
                            </div>
                            <!------------------------------------------------------------------------------------------------------------------------------>
                        </div>
                        <div class="tab-pane fade" id="licencias">
                            <!-------------------------------------------------Informacion de Software------------------------------------------------------>
                            <div class="form-group">
                                <label for="licenciaSOText">Licencia del Sistema Operativo:</label>
                                <input class="form-control" id="licenciaSOText" disabled="" value="Elija una opción" type="text" name="LicenciaSO">
                                <div class="form-check mt-2">
                                    <input asp-for="ConLicenciaSO" type="checkbox" class="form-check-input" id="conLicenciaSOCheck">
                                    <label class="form-check-label" for="conLicenciaSOCheck">
                                        Con licencia de sistema operativo
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input asp-for="SinLicenciaSO" type="checkbox" class="form-check-input" id="sinLicenciaSOCheck">
                                    <label class="form-check-label" for="sinLicenciaSOCheck">
                                        Sin licencia de sistema operativo
                                    </label>
                                </div>
                                <span asp-validation-for="LicenciaSO" class="text-danger"></span>
                            </div>
                            <div class="form-group" id="sistemaOperativoDiv" style="display:none;">
                                <label asp-for="SistemaOperativo" class="control-label"></label>
                                <select asp-for="SistemaOperativo" asp-items="ViewBag.sistemaoperativo" class="form-control"></select>
                                <span asp-validation-for="SistemaOperativo" class="text-danger"></span>
                            </div>


                            <div class="form-group">
                                <label for="officeText">Licencia de Office:</label>
                                <div>
                                    <input class="form-control" id="officeText" disabled="" value="Elija una opción" type="text" name="Office">
                                </div>
                                <div class="form-check mt-2">
                                    <input asp-for="ConLicenciaOffice" type="checkbox" class="form-check-input" id="conLicenciaOfficeCheck">
                                    <label class="form-check-label" for="conLicenciaOfficeCheck">
                                        Con licencia de Office
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input asp-for="SinLicenciaOffice" type="checkbox" class="form-check-input" id="sinLicenciaOfficeCheck">
                                    <label class="form-check-label" for="sinLicenciaOfficeCheck">
                                        Sin licencia de Office
                                    </label>
                                </div>
                                <span asp-validation-for="Office" class="text-danger"></span>
                            </div>
                            <div class="form-group" id="verofficeDiv" style="display:none;">
                                <label asp-for="VersionOffice" class="control-label"></label>
                                <select asp-for="VersionOffice" asp-items="ViewBag.office" class="form-control"></select>
                                <span asp-validation-for="VersionOffice" class="text-danger"></span>
                            </div>


                            <div class="form-group" id="fechaofficeDiv" style="display:none;">
                                <label asp-for="FechaOffice" class="control-label"></label>
                                <input asp-for="FechaOffice" class="form-control" type="date" />
                                <span asp-validation-for="FechaOffice" class="text-danger"></span>
                            </div>


                            <div class="form-group">
                                <label for="antivirusText">Licencia de Antivirus:</label>
                                <div>
                                <input class="form-control" id="antivirusText" disabled="" value="Elija una opción" type="text" name="LicenciaAntivirus">
                                </div>
                                <div class="form-check mt-2">
                                    <input asp-for="ConAntivirus" type="checkbox" class="form-check-input" id="conAntivirusCheck">
                                    <label class="form-check-label" for="conAntivirusCheck">
                                        Con licencia de Antivirus
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input asp-for="SinAntivirus" type="checkbox" class="form-check-input" id="sinAntivirusCheck">
                                    <label class="form-check-label" for="sinAntivirusCheck">
                                        Sin licencia de Antivirus
                                    </label>
                                </div>
                                <span asp-validation-for="LicenciaAntivirus" class="text-danger"></span>
                            </div>
                            <div class="form-group" id="antivirusDiv" style="display:none;">
                                <label asp-for="VersionAntivirus" class="control-label"></label>
                                <select asp-for="VersionAntivirus" asp-items="ViewBag.antivirus" class="form-control"></select>
                                <span asp-validation-for="VersionAntivirus" class="text-danger"></span>
                            </div>
                            <!------------------------------------------------------------------------------------------------------------------------------>
                        </div>
                        <div class="tab-pane fade" id="estado">
                            <!------------------------------------------------Informacion de adquisicion---------------------------------------------------->
                            <div class="form-group" id="fechaadquisicionDiv">
                                <label asp-for="FechaAdquisicion" class="control-label"></label>
                                <input asp-for="FechaAdquisicion" class="form-control" type="date" />
                                <span asp-validation-for="FechaAdquisicion" class="text-danger"></span>
                            </div>


                            <div class="form-group">
                                <label asp-for="Estado" class="control-label"></label>
                                <select asp-for="Estado" asp-items="ViewBag.estado" class="form-control"></select>
                                <span asp-validation-for="Estado" class="text-danger"></span>
                            </div>
                            <!------------------------------------------------------------------------------------------------------------------------------>

                        </div>
                        <div class="tab-pane fade" id="hardware">
                            <!------------------------------------------------HARDWARE---------------------------------------------------------------------->
                            <div class="form-group">
                                <label asp-for="Tipo" class="control-label"></label>
                                <select asp-for="Tipo" asp-items="ViewBag.tipo" class="form-control"></select>
                                <span asp-validation-for="Tipo" class="text-danger"></span>
                            </div>


                            <div class="form-group">
                                <label asp-for="Marca" class="control-label"></label>
                                <input asp-for="Marca" class="form-control" placeholder="Ingresa la Marca del Dispositivo" />
                                <span asp-validation-for="Marca" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="NParte" class="control-label"></label>
                                <input asp-for="NParte" class="form-control" placeholder="Ingresa el Número de Parte" />
                                <span asp-validation-for="NParte" class="text-danger"></span>
                            </div>


                            <div class="form-group">
                                <label asp-for="NSerie" class="control-label"></label>
                                <input asp-for="NSerie" class="form-control" placeholder="Ingresa el Número de Serie" />
                                <span asp-validation-for="NSerie" class="text-danger"></span>
                            </div>


                            <div class="form-group">
                                <label asp-for="MotherBoard" class="control-label"></label>
                                <input asp-for="MotherBoard" class="form-control" placeholder="Ingresa la MotherBoard" />
                                <span asp-validation-for="MotherBoard" class="text-danger"></span>
                            </div>


                            <div class="form-group">
                                <label asp-for="Procesador" class="control-label"></label>
                                <input asp-for="Procesador" class="form-control" placeholder="Ingresa el Procesador" />
                                <span asp-validation-for="Procesador" class="text-danger"></span>
                            </div>

                            <h2>Memoria RAM</h2>
                            <ul>
                                <li>
                                    <label asp-for="MemoriaRamTipo" class="control-label"></label>
                                    <select asp-for="MemoriaRamTipo" asp-items="ViewBag.tiporam" class="form-control"></select>
                                    <span asp-validation-for="MemoriaRamTipo" class="text-danger"></span>
                                </li>
                                <li>
                                    <label asp-for="MemoriaModulos" class="control-label"></label>
                                    <select asp-for="MemoriaModulos" asp-items="ViewBag.modulosram" class="form-control"></select>
                                    <span asp-validation-for="MemoriaModulos" class="text-danger"></span>
                                </li>
                                <li>
                                    <label asp-for="MemoriaRamCapacidad" class="control-label"></label>
                                    <select asp-for="MemoriaRamCapacidad" asp-items="ViewBag.capacidadram" class="form-control"></select>
                                    <span asp-validation-for="MemoriaRamCapacidad" class="text-danger"></span>
                                </li>
                                <li>
                                    <label asp-for="MemoriaRamMarca" class="control-label"></label>
                                    <input asp-for="MemoriaRamMarca" class="form-control" placeholder="Ingresa la Marca de la Memoria Ram" />
                                    <span asp-validation-for="MemoriaRamMarca" class="text-danger"></span>
                                </li>
                                <li>
                                    <label asp-for="MemoriaRamNumeroSerie" class="control-label"></label>
                                    <input asp-for="MemoriaRamNumeroSerie" class="form-control" placeholder="Ingresa el Número de Serie de la Memoria RAM" />
                                    <span asp-validation-for="MemoriaRamNumeroSerie" class="text-danger"></span>
                                </li>
                                <li>
                                    <label asp-for="MemoriaRamNumeroParte" class="control-label"></label>
                                    <input asp-for="MemoriaRamNumeroParte" class="form-control" placeholder="Ingresa el Número de Parte de la Memoria RAM" />
                                    <span asp-validation-for="MemoriaRamNumeroParte" class="text-danger"></span>
                                </li>
                            </ul>

                            <h2>Almacenamiento</h2>
                            <ul>
                                <li>
                                    <label asp-for="AlmacenamientoTipo" class="control-label"></label>
                                    <select asp-for="AlmacenamientoTipo" asp-items="ViewBag.tipoalmacenamiento" class="form-control"></select>
                                    <span asp-validation-for="AlmacenamientoTipo" class="text-danger"></span>
                                </li>
                                <li>
                                    <label asp-for="AlmacenamientoCapacidad" class="control-label"></label>
                                    <select asp-for="AlmacenamientoCapacidad" asp-items="ViewBag.capacidadalmacenamiento" class="form-control"></select>
                                    <span asp-validation-for="AlmacenamientoCapacidad" class="text-danger"></span>
                                </li>
                                <li>
                                    <label asp-for="AlmacenamientoMarca" class="control-label"></label>
                                    <input asp-for="AlmacenamientoMarca" class="form-control" placeholder="Ingresa la Marca del Disco Duro" />
                                    <span asp-validation-for="AlmacenamientoMarca" class="text-danger"></span>
                                </li>
                                <li>
                                    <label asp-for="AlmacenamientoNumeroSerie" class="control-label"></label>
                                    <input asp-for="AlmacenamientoNumeroSerie" class="form-control" placeholder="Ingresa el Número de Serie del Disco Duro" />
                                    <span asp-validation-for="AlmacenamientoNumeroSerie" class="text-danger"></span>
                                </li>
                                <li>
                                    <label asp-for="AlmacenamientoNumeroParte" class="control-label"></label>
                                    <input asp-for="AlmacenamientoNumeroParte" class="form-control" placeholder="Ingresa el Número de Parte del Disco Duro" />
                                    <span asp-validation-for="AlmacenamientoNumeroParte" class="text-danger"></span>
                                </li>
                            </ul>
                            <!------------------------------------------------------------------------------------------------------------------------------>
                            <!----------------------------------------------Botón--------------------------------------------------------------------------->
                            <div class="form-group mt-3">
                                <button id="btnCrear" type="submit" class="btn btn-secondary d-block mx-auto" style="background-color: #5F51F3; border-color: #5F51F3; color: #ffffff;">Crear  Computador</button>
                            </div>
                            <!------------------------------------------------------------------------------------------------------------------------------>
                        </div>

                        <div class="tab-pane fade" id="almacenamiento">
                            <div id="almacenamientosAdicionales">
                                <div class="almacenamiento-adicional">
                                    @if (Model.Almacenamientos != null && Model.Almacenamientos.Any())
                                    {
                                        <ul>
                                            @for (int i = 0; i < Model.Almacenamientos.Count; i++)
                                            {
                                                <li>
                                                    <label asp-for="Almacenamientos[i].TipoAlmacenamiento" class="control-label"></label>
                                                    <select asp-for="Almacenamientos[i].TipoAlmacenamiento" asp-items="ViewBag.tipoalmacenamiento" class="form-control"></select>
                                                    <span asp-validation-for="Almacenamientos[i].TipoAlmacenamiento" class="text-danger"></span>
                                                </li>
                                                <li>
                                                    <label asp-for="Almacenamientos[i].CapacidadAlmacenamiento" class="control-label"></label>
                                                    <select asp-for="Almacenamientos[i].CapacidadAlmacenamiento" asp-items="ViewBag.capacidadalmacenamiento" class="form-control"></select>
                                                    <span asp-validation-for="Almacenamientos[i].CapacidadAlmacenamiento" class="text-danger"></span>
                                                </li>
                                                <li>
                                                    <label asp-for="Almacenamientos[i].MarcaAlmacenamiento" class="control-label"></label>
                                                    <input asp-for="Almacenamientos[i].MarcaAlmacenamiento" class="form-control" placeholder="Ingresa la Marca del Disco Duro" />
                                                    <span asp-validation-for="Almacenamientos[i].MarcaAlmacenamiento" class="text-danger"></span>
                                                </li>
                                                <li>
                                                    <label asp-for="Almacenamientos[i].NumeroSerieAlmacenamiento" class="control-label"></label>
                                                    <input asp-for="Almacenamientos[i].NumeroSerieAlmacenamiento" class="form-control" placeholder="Ingresa el Número de Serie del Disco Duro" />
                                                    <span asp-validation-for="Almacenamientos[i].NumeroSerieAlmacenamiento" class="text-danger"></span>
                                                </li>
                                                <li>
                                                    <label asp-for="Almacenamientos[i].NumeroParteAlmacenamiento" class="control-label"></label>
                                                    <input asp-for="Almacenamientos[i].NumeroParteAlmacenamiento" class="form-control" placeholder="Ingresa el Número de Parte del Disco Duro" />
                                                    <span asp-validation-for="Almacenamientos[i].NumeroParteAlmacenamiento" class="text-danger"></span>
                                                </li>
                                            }
                                        </ul>
                                    }
                                    else
                                    {
                                        <p>No hay almacenamientos agregados.</p>
                                    }
                                </div>
                            </div>
                            <button type="button" class="btn btn-danger quitarAlmacenamiento">Quitar Almacenamiento</button>
                            <button type="button" id="agregarAlmacenamiento" class="btn btn-primary">Agregar Almacenamiento Adicional</button>
                        </div>
                    </div>
                </form>
                <a asp-controller="Inicio" asp-action="Index">Volver</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

        //----------SIN NOMBRE SCRIPT------------/
        document.addEventListener('DOMContentLoaded', function () {
            var sinNombreAnteriorCheck = document.getElementById('sinNombreAnteriorCheck');
            var nombreAnteriorInput = document.getElementById('NombreAnterior');
            var sinNombreAnteriorHidden = document.getElementById('sinNombreAnteriorHidden');

            if (!sinNombreAnteriorCheck.checked) {
                nombreAnteriorInput.disabled = false;
                sinNombreAnteriorHidden.value = 'false';
            } else {
                nombreAnteriorInput.disabled = true;
                nombreAnteriorInput.value = "Sin nombre anterior";
                sinNombreAnteriorHidden.value = 'true';
            }
        });

        document.getElementById('sinNombreAnteriorCheck').addEventListener('change', function () {
            var nombreAnteriorInput = document.getElementById('NombreAnterior');
            var sinNombreAnteriorHidden = document.getElementById('sinNombreAnteriorHidden');

            if (this.checked) {
                nombreAnteriorInput.disabled = true;
                nombreAnteriorInput.value = "Sin nombre anterior";
                sinNombreAnteriorHidden.value = 'true';
            } else {
                nombreAnteriorInput.disabled = false;
                nombreAnteriorInput.value = "";
                sinNombreAnteriorHidden.value = 'false';
            }
        });
        //-------------------------------------------------------------------------------------------------------//

        //----------SIN DIRECCION IP------------/
        document.addEventListener('DOMContentLoaded', function () {
            var sinDireccionIPCheck = document.getElementById('sinDireccionIPCheck');
            var DireccionIpInput = document.getElementById('DireccionIp');
            var sinDireccionIPHidden = document.getElementById('sinDireccionIPHidden');
            if (!sinDireccionIPCheck.checked) {
                DireccionIpInput.disabled = false;
                sinDireccionIPHidden.value = 'false';
            } else {
                DireccionIpInput.disabled = true;
                DireccionIpInput.value = "Sin Direccion IP";
                sinDireccionIPHidden.value = 'true';
            }
        });

        document.getElementById('sinDireccionIPCheck').addEventListener('change', function () {
            var DireccionIPInput = document.getElementById('DireccionIp');
            var sinDireccionIPHidden = document.getElementById('sinDireccionIPHidden');
            if (this.checked) {
                DireccionIPInput.disabled = true;
                DireccionIPInput.value = "Sin Direccion IP";
                sinDireccionIPHidden.value = 'true';
            } else {
                DireccionIPInput.disabled = false;
                DireccionIPInput.value = "";
                sinDireccionIPHidden.value = 'false';
            }
        });
        //-------------------------------------------------------------------------------------------------------//

        //----------LICENCIA SISTEMA OPERATIVO------------/
        document.addEventListener('DOMContentLoaded', function () {
            var conLicenciaSOCheck = document.getElementById('conLicenciaSOCheck');
            var sinLicenciaSOCheck = document.getElementById('sinLicenciaSOCheck');
            var licenciaSOText = document.getElementById('licenciaSOText');

            conLicenciaSOCheck.addEventListener('change', function () {
                if (this.checked) {
                    sinLicenciaSOCheck.checked = false;
                    licenciaSOText.value = "Si";
                } else {
                    licenciaSOText.value = "";
                }
            });

            sinLicenciaSOCheck.addEventListener('change', function () {
                if (this.checked) {
                    conLicenciaSOCheck.checked = false;
                    licenciaSOText.value = "No";
                } else {
                    licenciaSOText.value = "";
                }
            });
        });

        
        document.addEventListener('DOMContentLoaded', function () {
            var conLicenciaSOCheck = document.getElementById('conLicenciaSOCheck');
            var sinLicenciaSOCheck = document.getElementById('sinLicenciaSOCheck');
            var sistemaOperativoDiv = document.getElementById('sistemaOperativoDiv');

            conLicenciaSOCheck.addEventListener('change', function () {
                if (this.checked) {
                    sistemaOperativoDiv.style.display = 'block';
                } else {
                    sistemaOperativoDiv.style.display = 'none';
                }
            });

            sinLicenciaSOCheck.addEventListener('change', function () {
                if (this.checked) {
                    sistemaOperativoDiv.style.display = 'none';
                } else {
                    if (conLicenciaSOCheck.checked) {
                        sistemaOperativoDiv.style.display = 'block';
                    }
                }
            });
        });
        //-------------------------------------------------------------------------------------------------------//

       //----------LICENCIA OFFICE------------//
            document.addEventListener('DOMContentLoaded', function () {
            var conLicenciaOfficeCheck = document.getElementById('conLicenciaOfficeCheck');
            var sinLicenciaOfficeCheck = document.getElementById('sinLicenciaOfficeCheck');
            var officeText = document.getElementById('officeText');

            conLicenciaOfficeCheck.addEventListener('change', function () {
                if (this.checked) {
                    sinLicenciaOfficeCheck.checked = false;
                    officeText.value = "Si";
                } else {
                    officeText.value = "";
                }
            });

            sinLicenciaOfficeCheck.addEventListener('change', function () {
                if (this.checked) {
                    conLicenciaOfficeCheck.checked = false;
                    officeText.value = "No";
                } else {
                    officeText.value = "";
                }
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
            var conLicenciaOfficeCheck = document.getElementById('conLicenciaOfficeCheck');
            var sinLicenciaSOCheck = document.getElementById('sinLicenciaOfficeCheck');
            var verofficeDiv = document.getElementById('verofficeDiv');

            conLicenciaOfficeCheck.addEventListener('change', function () {
                if (this.checked) {
                    verofficeDiv.style.display = 'block';
                } else {
                    verofficeDiv.style.display = 'none';
                }
            });

            sinLicenciaOfficeCheck.addEventListener('change', function () {
                if (this.checked) {
                    verofficeDiv.style.display = 'none';
                } else {
                    if (conLicenciaOfficeCheck.checked) {
                        verofficeDiv.style.display = 'block';
                    }
                }
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
            var conLicenciaOfficeCheck = document.getElementById('conLicenciaOfficeCheck');
            var sinLicenciaSOCheck = document.getElementById('sinLicenciaOfficeCheck');
            var fechaofficeDiv = document.getElementById('fechaofficeDiv');

            conLicenciaOfficeCheck.addEventListener('change', function () {
                if (this.checked) {
                    fechaofficeDiv.style.display = 'block';
                } else {
                    fechaofficeDiv.style.display = 'none';
                }
            });

            sinLicenciaOfficeCheck.addEventListener('change', function () {
                if (this.checked) {
                    fechaofficeDiv.style.display = 'none';
                } else {
                    if (conLicenciaOfficeCheck.checked) {
                        fechaofficeDiv.style.display = 'block';
                    }
                }
            });
        });
        //-------------------------------------------------------------------------------------------------------//

        //----------LICENCIA ANTIVIRUS------------//
        document.addEventListener('DOMContentLoaded', function () {
            var conAntivirusCheck = document.getElementById('conAntivirusCheck');
            var sinAntivirusCheck = document.getElementById('sinAntivirusCheck');
            var antivirusText = document.getElementById('antivirusText');

            conAntivirusCheck.addEventListener('change', function () {
                if (this.checked) {
                    sinAntivirusCheck.checked = false;
                    antivirusText.value = "Si";
                } else {
                    antivirusText.value = "";
                }
            });

            sinAntivirusCheck.addEventListener('change', function () {
                if (this.checked) {
                    conAntivirusCheck.checked = false;
                    antivirusText.value = "No";
                } else {
                    antivirusText.value = "";
                }
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
            var conAntivirusCheck = document.getElementById('conAntivirusCheck');
            var sinAntivirusCheck = document.getElementById('sinAntivirusCheck');
            var antivirusDiv = document.getElementById('antivirusDiv');

            conAntivirusCheck.addEventListener('change', function () {
                if (this.checked) {
                    antivirusDiv.style.display = 'block';
                } else {
                    antivirusDiv.style.display = 'none';
                }
            });

            sinAntivirusCheck.addEventListener('change', function () {
                if (this.checked) {
                    antivirusDiv.style.display = 'none';
                } else {
                    if (conAntivirusCheck.checked) {
                        antivirusDiv.style.display = 'block';
                    }
                }
            });
        });
        //-------------------------------------------------------------------------------------------------------//
        //-----------------------------------PESTAÑA-------------------------------------------------------------//
        $(document).ready(function () {
            $('#informacionBasicaTab').tab('show');

            $('#informacionBasicaTab, #licenciasTab, #estadoTab, #hardwareTab').on('click', function (e) {
                e.preventDefault();
                $(this).tab('show');
            });

            $('#almacenamientoTab').on('click', function (e) {
                e.preventDefault();
                // Mostrar la alerta
                if (confirm('¿Quieres añadir otro almacenamiento?')) {
                    // Si se hace clic en 'Sí', activar la pestaña
                    $(this).removeClass('disabled').tab('show');
                }
            });
        });
        //-------------------------------------------------------------------------------------------------------//
        //-----------------------------------AGREGAR ALMACENAMIENTO----------------------------------------------//
        $(document).ready(function () {
            var index = 0;
            $("#agregarAlmacenamiento").click(function () {
                index++;
                var clone = $('.almacenamiento-adicional').first().clone();

                clone.find('input, select').val('');

                clone.find('[id]').each(function () {
                    var id = $(this).attr('id');
                    $(this).attr('id', id + '-' + index);
                });
                clone.find('[name]').each(function () {
                    var name = $(this).attr('name');
                    $(this).attr('name', name.replace('[0]', '[' + index + ']'));
                });

                $('#almacenamientosAdicionales').append(clone);

                var tipoAlmacenamientoOptions = $('#Almacenamientos_0__TipoAlmacenamiento').html();
                clone.find('select[name^="Almacenamientos[' + index + '].TipoAlmacenamiento"]').html(tipoAlmacenamientoOptions);

                var capacidadAlmacenamientoOptions = $('#Almacenamientos_0__CapacidadAlmacenamiento').html();
                clone.find('select[name^="Almacenamientos[' + index + '].CapacidadAlmacenamiento"]').html(capacidadAlmacenamientoOptions);

                clone.find('label').each(function () {
                    var labelText = $(this).text().trim();
                    $(this).attr('for', $(this).attr('for') + '-' + index).text(labelText + ' ' + (index + 1));
                });

                clone.find('.text-danger').text('');
            });

            $(document).on('click', '.quitarAlmacenamiento', function () {
                $(this).closest('.almacenamiento-adicional').remove();
            });
        });

        $(document).on('click', '.quitarAlmacenamiento', function () {
            $(this).closest('.almacenamiento-adicional').remove();
        });
        //-------------------------------------------------------------------------------------------------------//
    </script>
}

<style>
    body {
        background-color: #d9d9d9;
        -webkit-text-size-adjust: 100% !important; /* For Safari, Safari on iOS */
        text-size-adjust: 100% !important; /* For Firefox for Android */
    }

    .form-control::placeholder {
        color: #7f7a75;
    }

    .card-body {
        background-color: #333333; /* Cambiar el color del fondo la tablas */
        color: #5a5aad; /* Cambiar el color del texto dentro del card body */
        font-weight: bold; /* Hacer que el texto dentro del cuerpo de la tarjeta sea negrita */
    }

    .form-control {
        background-color: #565656; /* Cambiar el color de fondo de los campos de texto */
        color: #ffffff; /* Cambiar el color del texto dentro de los campos de texto */
        border: 0px solid #ffffff; /* Añadir borde a los campos de texto */
    }

    .form-control:disabled {
        background-color: #565656; /* Cambiar el color de fondo de los campos de texto deshabilitados */
        color: #fff; /* Cambiar el color del texto dentro de los campos de texto deshabilitados */
    }

    .form-control:focus {
        background-color: #565656; /* Cambiar el color de fondo de los campos de texto deshabilitados */
        border: 0px solid #ffffff; /* Añadir borde a los campos de texto */
        outline: 0; /* Eliminar contorno al enfocar */
        box-shadow: #fff; /* Sombra al enfocar */
    }

    select.form-control {
        background-color: #565656; /* Cambiar el color de fondo del combo box */
        color: #ffffff !important; /* Cambiar el color del texto dentro del combo box */
    }

    .form-control:focus {
        color: #ffffff; /* Cambiar el color del texto cuando el campo de texto está enfocado */
    }
</style>

